# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
blockchain/artifacts

# Hardhat compilation (v2) support directory
blockchain/cache

# smart contract metadata
blockchain/data

# Hardhat coverage reports
blockchain/coverage

# Typechain output
/types

/notes

# environment variables file
.env


